Repository salesforce/salesforcedx-vscode-mobile: changes, and which Codecov flags are due for each by the changed paths.
All: extension, lsp

Fix path to server module.
  lsp/client/src/extension.ts
  lsp/server/src/validator/gqlValidator.ts
Due: lsp

Consume lsp module directly.
  lsp/client/package.json
  lsp/client/src/extension.ts
  lsp/server/package.json
  package-lock.json
  package.json
  src/extension.ts
  src/utils/constants.ts
  test/TestHelper.ts
Due: extension, lsp

minify.
  package.json
Due: none

touch up after rebase.
  package-lock.json
  package.json
Due: none

caps.
  package.json
Due: none

Packages versions.
  package-lock.json
  package.json
Due: none

Rename. Tests. Touch ups.
  src/commands/settings/settings.ts
  src/lsp/server/diagnostics/html/mobileOfflineFriendly.ts
  src/lsp/server/server.ts
  src/lsp/server/utils/objectInfoUtils.ts
  src/lsp/server/utils/serverWorkspace.ts
  test/TestHelper.ts
  test/suite/index.ts
  test/suite/lsp/server/utils/serverWorkspace.test.ts
Due: extension

fix test.
  test/TestHelper.ts
  test/suite/lsp/server/utils/objectInfoUtils.test.ts
Due: none

prettier.
  src/lsp/server/utils/serverWorkspaceUtils.ts
  src/utils/workspaceUtils.ts
Due: extension

Fix windows.
  test/suite/lsp/server/diagnostics/gql/over-sized-record.test.ts
Due: none

Cleanup.
  src/lsp/server/diagnostics/html/mobileOfflineFriendly.ts
Due: extension

Feedback from code review.
  package.json
  resources/component-experiences.yaml
  src/lsp/client/client.ts
Due: extension

Update package.json
  package.json
Due: none

Rename.
  src/lsp/server/diagnostics/gql/over-sized-record.ts
  src/lsp/server/server.ts
  src/lsp/server/utils/orgUtils.ts
  test/suite/lsp/server/diagnostics/gql/over-sized-record.test.ts
  test/suite/lsp/server/utils/gqlUtils.test.ts
  test/suite/lsp/server/utils/objectInfoUtils.test.ts
  test/suite/lsp/server/validators/graphqlValidator.test.ts
Due: extension

Change working directory for test.
  package.json
  src/lsp/server/utils/serverWorkspace.ts
  test/TestHelper.ts
  test/runTest.ts
  test/suite/lsp/server/diagnostics/gql/over-sized-record.test.ts
  test/suite/lsp/server/utils/gqlUtils.test.ts
  test/suite/lsp/server/validators/graphqlValidator.test.ts
  tsconfig.json
Due: extension

fix: remove outdated flag
  .github/workflows/run-tests.yml
  codecov.yml
Due: none

Codecov update.
  .github/workflows/run-tests.yml
  codecov.yml
Due: none

LanguageClient ID. And, use node script to copy yaml file.
  package.json
  scripts/copyComponentExperiencesYaml.js
  src/lsp/client/client.ts
Due: extension

Update after feedback.
  package-lock.json
  package.json
  scripts/copyResources.js
Due: none

LanguageClient ID. And, use node script to copy yaml file. (#161)
  package-lock.json
  package.json
  scripts/copyResources.js
  src/lsp/client/client.ts
Due: extension

mkdirSync can throw error.
  scripts/copyResources.js
Due: none

mkdirSync can throw error. (#162)
  scripts/copyResources.js
Due: none

chore: update eslint lwc mobile version to 1.1
  package.json
Due: none

chore: increase extension version to 0.4
  package.json
Due: none

test: update test case
  test/suite/commands/lint/configureLintingToolsCommand.test.ts
Due: none

create release candidate (#163)
  package.json
  test/suite/commands/lint/configureLintingToolsCommand.test.ts
Due: none

add source and doc url for diagnostic rules
  src/extension.ts
  src/lsp/client/client.ts
  src/lsp/server/diagnostics/DiagnosticProducer.ts
  src/lsp/server/diagnostics/gql/over-sized-record.ts
  src/lsp/server/diagnostics/html/mobileOfflineFriendly.ts
  src/lsp/server/diagnostics/js/adapters-local-change-not-aware.ts
  src/lsp/server/server.ts
  src/lsp/server/validatorManager.ts
  src/lsp/server/validators/baseValidator.ts
  test/suite/lsp/server/validatorManager.test.ts
Due: extension

make sure disposables from registerCommand will be desposed properly
  src/commands/lint/configureLintingToolsCommand.ts
  src/commands/settings/settings.ts
  src/commands/wizard/onboardingWizard.ts
Due: extension

add flag to control doc url generation
  package-lock.json
  package.json
  src/lsp/client/client.ts
  src/lsp/server/diagnostics/DiagnosticProducer.ts
  src/lsp/server/diagnostics/gql/over-sized-record.ts
  src/lsp/server/diagnostics/html/mobileOfflineFriendly.ts
  src/lsp/server/diagnostics/js/adapters-local-change-not-aware.ts
  src/lsp/server/server.ts
  src/lsp/server/validatorManager.ts
  test/suite/lsp/server/diagnostics/DiagnosticProducer.test.ts
  test/suite/lsp/server/diagnostics/gql/over-sized-record.test.ts
  test/suite/lsp/server/diagnostics/js/adapters-local-change-not-aware.test.ts
  test/suite/lsp/server/validatorManager.test.ts
  test/suite/lsp/server/validators/graphqlValidator.test.ts
  test/suite/lsp/server/validators/htmlValidator.test.ts
  test/suite/lsp/server/validators/jsValidator.test.ts
Due: extension

Nit
  src/commands/toolingHub/liveKomaciAnalyze.ts
Due: extension

W-16620689 Add md files for [LWC Auth Debug] LSP to reduce OOM issues story
  src/lsp/docs/adapters-local-change-not-aware.md
  src/lsp/docs/over-sized-record.md
Due: extension

W-16620689 Add md files for [LWC Auth Debug] LSP to reduce OOM issues story (#165)
  src/lsp/docs/adapters-local-change-not-aware.md
  src/lsp/docs/over-sized-record.md
Due: extension

update doc path to ../src/lsp/docs/...
  src/lsp/client/client.ts
Due: extension

make baseDocUrl private
  src/lsp/server/diagnostics/DiagnosticProducer.ts
Due: extension

Md file link for diagnostic (#166)
  package-lock.json
  package.json
  src/commands/lint/configureLintingToolsCommand.ts
  src/commands/settings/settings.ts
  src/commands/wizard/onboardingWizard.ts
  src/extension.ts
  src/lsp/client/client.ts
  src/lsp/server/diagnostics/DiagnosticProducer.ts
  src/lsp/server/diagnostics/gql/over-sized-record.ts
  src/lsp/server/diagnostics/html/mobileOfflineFriendly.ts
  src/lsp/server/diagnostics/js/adapters-local-change-not-aware.ts
  src/lsp/server/server.ts
  src/lsp/server/validatorManager.ts
  src/lsp/server/validators/baseValidator.ts
  test/suite/lsp/server/diagnostics/DiagnosticProducer.test.ts
  test/suite/lsp/server/diagnostics/gql/over-sized-record.test.ts
  test/suite/lsp/server/diagnostics/js/adapters-local-change-not-aware.test.ts
  test/suite/lsp/server/validatorManager.test.ts
  test/suite/lsp/server/validators/graphqlValidator.test.ts
  test/suite/lsp/server/validators/htmlValidator.test.ts
  test/suite/lsp/server/validators/jsValidator.test.ts
Due: extension

Initial polished commit with integration tests
  package.json
  package.nls.json
  src/commands/toolingHub/liveKomaciAnalyze.ts
  src/services/CoreExtensionService.ts
  src/test/suite/commands/toolingHub/liveKomaciAnalyze.test.ts
  src/types/CoreExtensionApi.ts
  src/types/SalesforceProjectConfig.ts
Due: extension

Tweaking analyze script
  src/commands/toolingHub/liveKomaciAnalyze.ts
Due: extension

Path conditions:
  extension: any of: src/
  lsp: any of: lsp/
